.pwa-banner {
    background-color: var(--light-gray-color);
    padding: 20px;    
    padding: 20px;
    position: fixed;
    transform: translateY(0);
    inset: auto 0 0 0;
    transition: transform .3s;
    display: flex;
    justify-content: center;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, .25);
}

.pwa-banner[hidden] {
    transform: translateY(120%);
}

/* Only show the banner if the web site is running in a normal web browser */
@media(display-mode: browser) {
     .pwa-banner {
        display: flex;
    }
}

/* Hide the banner if the PWA is already installed or running in its own window / app shell, see manifest file */
@media (display-mode: standalone), (display-mode: minimal-ui) {
    .pwa-banner {
        display: none;
    }
}

.pwa-banner_install-button {
    border: none;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 700;
}

.pwa-banner_install-button:hover {
    background-color: var(--secondary-color);
}

.pwa-banner__instructions {
    position: relative;
}

.pwa-banner__instructions {
    margin: 0;
    padding-inline: 20px;
    text-align: center;
}

.pwa-banner_dismiss-button {
    position: absolute;
    inset: 50% 10px auto auto;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-weight: 700;
    font-size: 28px;
    cursor: pointer;
}
