@layer framework, global, design, utilities;

@layer global {
    :root {
        --clr-primary: deepskyblue;
        --clr-secondary: deeppink;
        --clr-lighter: #eee;
        --clr-light: #aaa;
        --clr-gray: #595959;
        --clr-dark: #263238;
        --clr-p80-light-blue: #3da8f5;
        --clr-p80-dark-blue: #1c374a;
        --ff-base: "Roboto", Helvetica, sans-serif;
        --ff-accent: var(--ff-base);
        --site-max-width: 768px;
    }

    @font-face {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(/fonts/Roboto-Light.woff2);
    }

    @font-face {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/Roboto-Regular.woff2);
    }

    body {
        margin: 0;
        font-family: var(--ff-base);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.75;
        color: var(--clr-dark);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 300;
        line-height: 1.3;
        font-family: var(--ff-accent);
    }

    :where(h1, h2, h3, h4, h5, h6) a {
        color: inherit;
    }

    :where(h1, h2, h3, h4, h5, h6) a:hover {
        color: var(--clr-secondary);
    }

    h1 {
        font-size: clamp(2rem, -1.2857rem + 11.4286vw, 3rem);
        color: var(--clr-primary);
    }

    h2 {
        font-size: clamp(1.625rem, 1.1964rem + 2.1429vw, 2rem);
        color: var(--clr-secondary);
    }

    h3,
    h4,
    h5,
    h6 {
        color: var(--clr-gray);
        font-size: 1rem;
    }

    h3 {
        font-size: 1.953rem;
    }

    h4 {
        font-size: 1.563rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    h6,
    small {
        font-size: 0.8rem;
    }

    strong,
    b {
        font-weight: 700;
    }

    a {
        color: var(--clr-p80-light-blue);
    }

    img {
        max-width: 100%;
        display: block;
    }

    code {
        background-color: var(--clr-lighter);
        display: inline-block;
        padding: 3px 5px;
    }

    .flow > * + * {
        margin-block-start: 0;
    }
}

@layer design {
    .btn {
        padding: 10px 20px;
        border: 0;
        color: white;
        font-size: 1.4rem;
        border-radius: 10px;
        margin-block-end: 20px;
        cursor: pointer;
    }

    .btn--primary {
        background-color: var(--clr-primary);
    }

    .btn--secondary {
        background-color: var(--clr-secondary);
    }

    .btn-close {
        color: black;
        font-size: 2rem;
        font-weight: 700;
        border: none;
        cursor: pointer;
        pad: 0;
        background-color: transparent;
    }
}
