---
import Layout from '../layouts/Layout.astro';
import "../../public/css/01-pwa-install-prompt.css";

const title = "PWA install prompt";
const description = "Storing the PWA install prompt for later use with custom PWA experience"
const permalink = `${Astro.site.href}01-pwa-install-prompt`;
---

<script is:inline src="install-pwa.js"></script>

<Layout title={title} description={description} permalink={permalink}>
    <main>
        <p>In a few seconds a <strong>custom build PWA banner</strong> will appear at the bottom of the viewport.</p>

        <h2>Feature check the web browser</h2>

        <ul>
            <li>If the web browser natively supports installing PWA's this <code>beforeinstallPrompt</code> -event will be saved. And not executed yet.</li>
            <li>When our custom "Install our PWA app" -button is clicked it will feature test the web browser for this event.</li>
            <li>If the web browser does support this event the native PWA install prompt will be shown.</li>
            <li>If the web browser doesn't support this event: an alternative instruction text will be shown.</li>
            <li>When the PWA is already installed the banner will not be shown again using CSS Media Queries.</li>
        </ul>       

        <h2>Code examples</h2>

        <p>Please review the <a href="/js/install-pwa.js" target="_blank">install-pwa.js</a> script. And the <a href="/css/01-pwa-install-prompt.css" target="_blank">style.css</a> -file on how this works.</p>

        <h2>Test on mobile devices</h2>

        <p>Scan the QR-Code for the URL of this web page.</p>

        <img src="/img/qr-code-pwa-install-prompt.svg" width="400" height="400" alt="Link to this URL">

        <section class="pwa-banner" role="alert" aria-live="polite" hidden>
            <button class="pwa-banner_dismiss-button" title="Close" data-pwa-dismiss>&times;</button>
            <button class="pwa-banner_install-button" data-pwa-install>Install our PWA app</button>
            
            <p class="pwa-banner__instructions" hidden data-pwa-install-instructions>
                To install the app look for a "Add to Home Screen" or "Install" -button in your web browser
            </p>
        </section>
    </main>
</Layout>