---
import Layout from '../layouts/Layout.astro';

const title = "CSS Grid from inline CSS Custom Properties";
const description = "Advanced CSS Custom Property demo"
const permalink = `${Astro.site.href}02-css-grid-custom-properties`;
---

<Layout title={title} description={description} permalink={permalink} showBackButton="true">

    <main>
        <h2>HTML inline CSS Custom Propertiess</h2>

        <p>
            The <code>section.cards</code> below has an inline <code>style</code> -attribute with a <strong>CSS Custom Property</strong>: <code>--nr-of-columns: 2;</code>
            Which dictates the number of columns that will be used by the grid below.
        </p>

        <p>Open the <strong>developer tools</strong> and change this <code>style</code> -attributes number of columns to see the change.</p>

        <section class="cards" style="--nr-of-columns: 2">
            <article class="card">
                <img src="https://fakeimg.pl/300x200/3da8f5/ffffff" width="300" height="200" alt="Placeholder">

                <h2>New movies</h2>

                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, necessitatibus.
                </p>

                <div>
                    <a href="#">Read more</a>
                </div>
            </article>                  

            <article class="card">
                <img src="https://fakeimg.pl/300x200/3da8f5/ffffff" width="300" height="200" alt="Placeholder">

                <h2>New movies</h2>

                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, necessitatibus.
                </p>

                <div>
                    <a href="#">Read more</a>
                </div>
            </article>

            <article class="card">
                <img src="https://fakeimg.pl/300x200/3da8f5/ffffff" width="300" height="200" alt="Placeholder">

                <h2>New movies</h2>

                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, necessitatibus.
                </p>

                <div>
                    <a href="#">Read more</a>
                </div>
            </article>

            <article class="card">
                <img src="https://fakeimg.pl/300x200/3da8f5/ffffff" width="300" height="200" alt="Placeholder">

                <h2>New movies</h2>

                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, necessitatibus.
                </p>

                <div>
                    <a href="#">Read more</a>
                </div>
            </article>

            <article class="card">
                <img src="https://fakeimg.pl/300x200/3da8f5/ffffff" width="300" height="200" alt="Placeholder">

                <h2>New movies</h2>

                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, necessitatibus.
                </p>

                <div>
                    <a href="#">Read more</a>
                </div>
            </article>
        </section>
    </main>
</Layout>

<style is:global>
.cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(var(--nr-of-columns, 3), 1fr);
}

.card {
    padding: 20px;
    background-color: var(--clr-lighter);
    border-radius: 10px;
}

.card img {
    max-width: 100%; 
    height: auto;   
    border-radius: 10px;
}

</style>