---
import Layout from '../layouts/Layout.astro';
import "../../public/css/04-css-cascade-layers.css";

const title = "CSS Cascade Layers";
const description = "CSS Layers demo"
const permalink = `${Astro.site.href}04-css-cascade-layers`;
---

<Layout title={title} description={description} permalink={permalink}>
    <main>
        <p>Demo of CSS Cascade layers. Grouping CSS into layers with specificy order.</p>

            <h2>Syntax example</h2>

            <p>View this demo's <a href="/css/04-css-cascade-layers.css" target="_blank">style.css</a> file</a></p>

<pre>
<!--code>@layer framework, global, design;

@layer design {
    h2 {
        color: deeppink;
    }
}

@layer framework {
    h2 {
        color: green;
    }
}</code-->
</pre>
            <h2 id="heading" class="my-4">Demo's: this heading should be deeppink not green</h2>
            
            <h3>This cards heading should be blue not deeppink</h3>

            <section class="cards my-4">
                <article class="card">
                    <h4 class="card__heading">This heading should be purple</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, necessitatibus!</p>
                    <button class="btn btn-primary">Bootstrap primary blue button</button>
                </article>

                <article class="card">
                    <h4 class="card__heading">This heading should be purple</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, necessitatibus!</p>
                    <button class="btn btn-primary">Bootstrap primary blue button</button>
                </article>

                <article class="card">
                    <h4 class="card__heading">This heading should be purple</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, necessitatibus!</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, necessitatibus!</p>
                    <button class="btn btn-primary">Bootstrap primary blue button</button>
                </article>
            </section>

            <section>
                <h2>Things to keep in mind</h2>

                <ul>
                    <li>The first CSS file in the HTML-head should tell the browser what layers and what their order should be</li>
                    <li>You can import 2nd or 3rd party CSS (hardcoded, root- or relative URL paths) straight into your own CSS (using <code>@import url(/path/to/css/file.css);</code>) and assign those to a layer</li>
                    <li>If you happen to use, CSS <code>!important;</code> after your CSS value, that will only work the first time it's been registered.</li>
                    <li>You can nest CSS Cascade Layers inside CSS Cascade Layers</li>
                    <li>CSS styles NOT specified inside a <code>@layer {}</code> have a higher speceficity.</li>
                </ul>
            </section>
    </main>
</Layout>