---
import Layout from '../layouts/Layout.astro';

const title = "CSS Custom Properties";
const description = "CSS Layers demo";
const permalink = `${Astro.site.href}05-css-custom-properties`;
---

<Layout title={title} description={description} permalink={permalink} showBackButton="true">
    <main>
        <h2>Demo: hover over the buttons</h2>

        <p>Colors change according to <strong>local scoped</strong> CSS Custom Properties</p>

        <div class="button-list">
            <button class="button-1">Click me!</button>
            <button class="button-2">Click me!</button>
            <button style="--color: orange;">Click me!</button>
            <button class="button-3">Click me!</button>
            <button class="button-4">Click me!</button>
        </div>

        <h2>View the stylesheet</h2>

        <p>View this demo page's CSS to grasp the idea of CSS Custom Properties</p>

        <p>Inspired by: Lea Verou's talk  <a href="https://www.youtube.com/watch?v=ZuZizqDF4q8" target="_blank">"CSS Variable Secrets | CSS Day 2022"</a> (YouTube)</p>
    </main>
</Layout>

<style is:global>
button {
    --_color: var(--color, black);
    color: var(--_color);
    border: 3px solid var(--_color);

    padding: 10px 20px;
    font-size: 1.4rem;
    border-radius: 10px;
    margin-block-end: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: transparent;
    transition: color .3s, border .3s;
}

button:hover {
    color: white;
    background-color: var(--_color);
    transition: background-color .3s, color .3s;
}

.button-2 {
    --color: #F06;
    color: white;
    background-color: var(--color);
}

.button-3 {
    --color: navy;
}

.button-4 {
    --color: var(--clr-primary);
}

.button-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

</style>