---
import Layout from '../layouts/Layout.astro';

const title = "Poort80 - Demos";
const description = "Multiple Poort80 Demos";
const permalink = `${Astro.site.href}`;
---

<Layout title={title} description={description} permalink={permalink}>
	<main>
		<h2>List of demo's</h2>

            <ol>
                <li><a href="/01-pwa-install-prompt">PWA Install prompt</a></li>
                <li><a href="/02-css-grid-custom-properties">CSS Grid from inline CSS Custom Properties</a></li>
                <li><a href="/03-dialog">HTML dialog element</a></li>
                <li><a href="/04-css-cascade-layers">CSS Cascade Layers</a></li>
                <li><a href="/05-css-custom-properties">CSS Custom Properties</a></li>
            </ol>

            <h2>List of external demo's</h2>
            
            <ul>
                <li><a href="https://vue-custom-element-learning.dutchwebworks.nl" target="_blank">Poort80 Vue Custom Element</a></li>
                <li><a href="https://css-container-queries-learning.dutchwebworks.nl/" target="_blank">CSS Container Queries</a>, and <a href="https://docs.google.com/presentation/d/1VScY4NnYEphfFcMi4Svlo4xYur9zukvZpcZbB7ZnQrc/edit?usp=sharing" target="_blank">presentation</a></li>
                <li><a href="https://p80-css-grid-demos.dutchwebworks.nl/" target="_blank">Poort80 CSS Grid demos</a>, and <a href="https://docs.google.com/presentation/d/e/2PACX-1vS3_1Xvt2icevSlgI-xQjVLg8N-JRI8w1M0z8AhhdsgLGGlmJufReNZ-ERXw4lfARtpT7868g1Mklgo/pub?start=false&loop=false&delayms=60000" target="_blank">presentation</a></li>
                <li><a href="https://pwa-learning.dutchwebworks.nl/" target="_blank">PWA Learning</a></li>
                <li><a href="https://vue-learning.dutchwebworks.nl/" target="_blank">Vue Learning</a></li>
                <li><a href="https://responsive-images-learning.dutchwebworks.nl/" target="_blank">Responsive Images</a></li>
                <li><a href="https://p80-vue-web-shop.dutchwebworks.nl/" target="_blank">Poort80 Vue Web Shop</a></li>
            </ul>
        </main>
	</main>
</Layout>

<style>
	
</style>
