---
import Layout from '../layouts/Layout.astro';
import ExternalDemoList from '../components/ExternalDemoList.astro';
import PagesList from '../components/PagesList.astro';

const title = "Poort80 - Demos";
const description = "Multiple Poort80 Demos";
const permalink = `${Astro.site.href}`;
---

<Layout title={title} description={description} permalink={permalink}>
	<main>
		<h2>List of demo's</h2>

        <PagesList />

        <h2>List of external demo's</h2>

        <ExternalDemoList />
	</main>
</Layout>