<header>
    <nav>
        <menu class="demo-menu">
            <li><a href="/06-css-view-transition">Home</a></li>
            <li><a href="/06-css-view-transition/speed">Speed</a></li>
            <li><a href="/06-css-view-transition/product">Product</a></li>
        </menu>
    </nav>
</header>
