---
import list from '../content/lists/ExternalDemos.json';
---

<ul>
{
    list.map(({label, url, presentation}) => (
        <li>
            <a href={url} target="_blank">{label}</a>            
            {
                presentation && <Fragment>, and </Fragment><a href={presentation} target="_blank">presentation</a>
            }         
        </li>
    ))
}
</ul>  