<header>
    <h1>Poort80 - Demos</h1>
</header>

<style is:global>
header {
    border-bottom: 1px solid var(--clr-light);
    padding-block-end: 10px;
    margin-block-end: 50px;    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header h1 {
    margin-block-end: 0;
}    
</style>