---
import Layout from '../../layouts/Layout.astro';
import Head from '../../components/06-css-view-transition/Head.astro';
import Header from '../../components/06-css-view-transition/Header.astro';

import "../../styles/06-css-view-transition.css";

const title = "CSS View Transition » About";
const description = "CSS View Transition";
const permalink = `${Astro.site.href}06-css-view-transition`;
---


<Layout title={title} description={description} permalink={permalink} showBackButton="true">
    <Head slot="begin-head" />
    
    <main>
        <section>
            <Header />
                
            <article>
                <h2 class="title">About our product</h2>

                <figure class="hero">
                    <img src="/img/speed.jpeg" class="thumb" alt="Speed" width="200">
                </figure>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus deleniti illo molestias soluta iusto voluptatem aspernatur dolor nostrum. Unde, culpa!</p>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus delen4iti illo molestias soluta iusto voluptatem aspernatur dolor nostrum. Unde, culpa!</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus deleniti illo molestias soluta iusto voluptatem aspernatur dolor nostrum. Unde, culpa!</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus deleniti illo molestias soluta iusto voluptatem aspernatur dolor nostrum. Unde, culpa!</p> 
            </article>
        </section>
    </main>
</Layout>

<style is:global>

</style>